user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
error_log /var/log/nginx/error.log warn;
pid /run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       {{ nginx_port }};
        server_name  {{ ansible_fqdn | default(inventory_hostname) }};

        root   /var/www/html;
        index  index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
