[defaults]
inventory = inventories/hosts.yml
remote_user = ansible
host_key_checking = False
stdout_callback = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
